body {
  background-color: rgba(156, 135, 82, 0.63);
  margin: 0%;
}
/* header style start */
.top {
  display: flex;
}
.title {
  width: 30%;
  margin-top: 90px;
  margin-left: 80px;
  font-family: "Lobster", cursive;
  padding-left: 60px;
  font-size: 40px;
  color: rgba(59, 40, 14, 0.712);
}

/* menu bar style start  */
.manu-bar {
  display: flex;
}
.menu {
  display: flex;
  font-family: "Lato", sans-serif;
  width: 42%;
  margin-left: 200px;
  font-size: 1.2em;
  position: absolute;
  margin-top: 30px;
  padding-top: 30px;
  color: rgba(59, 40, 14, 0.712);
}
#menu-text {
  padding-right: 80px;
}
.menu img {
  width: 80px;
  height: 80px;
  margin-left: 0%;
  border-radius: 50%;
}
/* menu bar style end  */
/* header style end  */
/* main bar start  */
.journey {
  width: 50%;
  height: 300px;
  margin-top: 100px;
  margin-left: 10px;
  margin-bottom: 0px;
  font-family: "Lobster", cursive;
  padding-left: 150px;
  font-size: 60px;
  color: rgb(82, 43, 43);
}
.journey:hover {
  transform: scale(1.2);
  transition: 3s ease-out;
}
.information {
  display: flex;
}
.display-text {
  margin-top: 500px;
}

.display img {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  margin-right: 150px;
  margin-top: 60px;
}
.display img:hover {
  transform: scale(1.1);
  transition: 3s ease-in;
}
.display-text {
  width: 500px;
  height: 200px;
  margin-left: 150px;
  margin-top: 300px;
  position: absolute;
}
.para {
  margin-bottom: 50px;
  font-weight: 700px;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
}
.link-button {
  text-decoration: none;
  background-image: linear-gradient(
    rgba(206, 184, 128, 0.788),
    rgba(192, 65, 165, 0.856)
  );
  padding: 10px 40px;
  color: rgba(236, 230, 220, 0.712);
  font-weight: 700;
  font-family: "Lato", sans-serif;
  border-radius: 10px;
}

/* logos style start  */
#log {
  display: inline;
  padding: 40px;
}
.logs {
  text-align: center;
  height: 90px;
  width: 80%;
  margin-left: 150px;
  margin-top: 60px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding-bottom: 40px;
}
/* logos style end  */
/* products collection start  */
.popular {
  margin-top: 100px;
  text-align: center;
  font-family: "Lobster", cursive;
  font-size: 40px;
  color: rgba(59, 40, 14, 0.712);
}
.popular:hover {
  transform: scale(1.1);
  transition: 1s ease-out;
}
.all-cards-together {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  margin-right: 200px;
  margin-left: 200px;
}
.card {
  background-color: rgba(209, 183, 143, 0.712);
  margin: 20px 10px;
  border-radius: 25px;
  box-shadow: 10px 10px 10px 10px rgba(105, 95, 52, 0.24);
}
.card img {
  border-radius: 30px;
  margin-top: 25px;
  height: 300px;
  width: 300px;
}
.card img:hover {
  transform: scale(1.1);
  transition: 1s ease-out;
}
.card-para {
  padding-bottom: 30px;
  font-family: "Lato", sans-serif;
}
.fa-star {
  position: relative;
  font-size: 12px;
  margin-top: 10px;
}
.fa-star.filled {
  color: #caa02d;
}
.fa-star.empty {
  color: #aeaeae;
}
.points {
  font-size: 15px;
  margin-left: 10px;
  margin-top: 5px;
  font-weight: 800px;
  font-family: "Luxurious Roman", cursive;
}
.doller {
  font-weight: 1.75em;
  font-family: "Mochiy Pop P One", sans-serif;
  margin-bottom: 0px;
  font-weight: 700px;
  color: rgba(59, 40, 14, 0.712);
}
.products-name {
  font-family: "Lato", sans-serif;
  color: rgb(82, 43, 43);
}
/* products collection end  */
#see {
  height: 15px;
  width: 100px;
  padding: 16px;
  font-weight: 700;
  font-size: 20px;
  font-family: "Lato", sans-serif;
  color: rgb(12, 12, 11);
  border-radius: 30px;
}
/* main section end  */
/* new section  */

.photo-album {
  display: flex;
}
.photo-frame {
  position: relative;
  width: 800px;
  height: 500px;
  border-radius: 10px;
  margin-left: 150px;
  margin-top: 100px;
  overflow: hidden;
}
.photo img {
  width: 100%;
  height: 500px;
  border-radius: 10px;
}

.photo-detail {
  position: absolute;
  width: 800px;
  height: 500px;
  top: 0%;
  display: none;
  border-radius: 10px;
}
.photo-detail h3 {
  color: rgba(26, 2, 2, 0.959);
  text-align: center;
  width: 800px;
  height: 100px;
  margin-top: 70px;
  margin-bottom: 0px;
  font-family: "Lobster", cursive;
  padding-left: 5px;
  font-size: 50px;
  text-shadow: 1px solid black;
}
.photo-detail p {
  color: rgba(209, 183, 143, 0.877);
  font-size: 30px;
  font-weight: 700px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 40px;
  padding-left: 40px;
  font-family: "Lato", sans-serif;
}
.photo-frame:hover .photo-detail {
  display: block;
  background-color: rgba(90, 59, 19, 0.637);
}
.photo-frame:hover .photo {
  transform: scale(1.9);
  transition: transform 6s ease-in-out;
}
/* button end */
#awasome {
  width: 350px;
  margin-left: 30px;
  font-weight: 900px;
  font-size: 70px;
  font-family: "Lobster", cursive;
  margin-top: 100px;
  color: rgb(82, 43, 43);
}
.awasome-button {
  margin-left: 30px;
}
/* button end */
/* footer style start */
footer {
  background-color: rgba(26, 2, 2, 0.959);
  padding-block: 20px;
  margin-top: 100px;
}
.footer-text {
  color: #aeaeae;
  margin-left: 600px;
  font-weight: 700;
  font-family: "Lato", sans-serif;
}
.footer-icon {
  color: #aeaeae;
  margin-left: 610px;
  font-size: 30px;
}
.fab {
  margin-left: 15px;
}
/* footer style end  */

/* ----Media Queries---- */

/* ---  Mobile Devices --- */
@media only screen and (max-width: 688px) {
  header {
    margin-bottom: 150px;
    width: 500px;
  }

  .display-text {
    grid-template-columns: repeat(1, 1fr);
    font-size: 40px;
    margin-left: 35px;
    font-size: 15px;
    width: 300px;
  }
  .display img {
    width: 350px;
    height: 350px;
    margin-top: 300px;
    margin-left: 5px;
  }
  .logs {
    display: none;
  }
  .menu {
    display: none;
  }
  .information {
    display: block;
  }
  .journey {
    font-size: 40px;
    padding-left: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .para {
    margin-top: -450px;
    margin-bottom: 50px;
  }
  .popular {
    margin-left: 0px;
  }
  .all-cards-together {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-left: 8px;
  }
  .card img {
    padding: 5px 15px;
  }
  span {
    margin-left: 200px;
  }
  .photo-album {
    display: block;
  }
  .photo-frame {
    margin: 30px 15px;
    width: 345px;
    height: 350px;
  }
  #awasome {
    margin-left: 5%;
    margin-top: 15px;
  }
  .footer {
    width: 100px;
  }
  .footer-text {
    width: 350px;
    height: 250;
    margin-left: 40px;
  }
}
/* -----------tablet devices--------- */

@media only screen and (min-width: 688px) and (max-width: 992px) {
  .display-text {
    grid-template-columns: repeat(2, 1fr);
    font-size: 5px;
    width: 300px;
    margin-left: 15px;
    margin-top: 350px;
  }
  .title {
    text-align: center;
    width: 700px;
    font-size: 40px;
    margin-left: 10%;
    padding-left: 10px;
    padding-bottom: 10px;
  }
  .journey {
    font-size: 50px;
    padding-left: 80px;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
  }
  .display img {
    width: 350px;
    height: 350px;
    margin-top: 270px;
    border-radius: 50%;
    margin-left: 90px;
  }
  .para {
    margin-left: 20px;
  }
  .link-button {
    margin: 30px 40px;
  }
  .logs {
    display: none;
  }
  .menu {
    display: none;
  }
  .popular {
    margin-left: 0px;
    margin-top: 250px;
  }
  .all-cards-together {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 100px;
  }
  span {
    margin-left: 600px;
  }
  .photo-frame {
    margin: 90px 15px;
    width: 445px;
    height: 450px;
  }
  .footer {
    width: 100px;
  }
  .footer-text {
    width: 350px;
    height: 250;
    margin-left: 300px;
  }
  .footer-icon {
    margin-left: 300px;
  }
}
